.container-fluid {
	padding: 50px;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.btn-primary {
	margin-top: 20px;
}

@media (max-width: 768px) {
	.container-fluid {
		padding: 20px;
	}
}